.prising {
   padding: 80px 0px;
   background-color: #F5F5F5;
}

.prising-description {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   color: #86878B;
   text-align: center;
   margin-bottom: 62px;
}

.prising-wrap {
   margin: 0 -15px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.prising-list {
   width: 340px;
   margin: 0 15px;
}
.card-title {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   text-align: center;
   color: #fff;
   background-color: #333333;
   padding: 12px 10px;
   margin-bottom: 2px;
   transition: 0.2s;
}

.card-title:hover {
   transform: scale(1.05);
background-color: coral;
color: #333333;
}

.card-prise {
   padding: 26px 10px 33px 10px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 35px;
   line-height: 41px;
   text-align: center;
   color: #fff;
   background-color: #333333;
   margin-bottom: 2px;
   transition: 0.2s;
}

.card-prise:hover {
   transform: scale(1.05);
   background-color: coral;
   color: #333333;
}

.card-mark {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 19px;
   text-align: center;
   color:#FFFFFF80;
   background-color: #333333;
   padding: 14px 10px 17px 10px;
   margin-bottom: 2px;
   transition: 0.2s;
}

.card-mark:hover {
   transform: scale(1.05);
   background-color: coral;
   color: #333333;
}

.card-space {
   padding: 10px 10px 11px 10px;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   text-align: center;
   color:#86878B;
   background-color: #FFFFFF;
   margin-bottom: 2px;
   transition: 0.2s;
}

.card-space:hover {
   transform: scale(1.05);
   background-color: coral;
   color: #333333;
}

.card-space:last-child {
   margin-bottom: 0;
}






